/* Styles for the About component */

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.boxer {
  width: 64%;
  background-color: aqua;
  height: 22lh;
  border-radius: 2.1rem;
}

/* Styles for the card component */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f7b42c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Styles for the box component */

.box {
  display: block;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.box h3 {
  margin-top: 0;
}

.box p {
  margin-bottom: 0;
}

/* Other styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#add {
  margin-left: 35%;
  margin-top: 50px;
  padding: 20px;
  width: 15%;
  border: none;
  background-color: aquamarine;
}

#but {
  padding: 20px;
  background-color: coral;
  border-top-right-radius: 2.1rem;
  border-bottom-right-radius: 2.1rem;
  border: none;
}

.header {
  background-color: yellow;
}

.bar {
  margin-left: 97%;
}

.contact-us {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.contact-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-us label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-us button[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-us button[type="submit"]:hover {
  background-color: #2980b9;
}
